<!-- Define la función mostrar_producto -->
{% macro mostrar_producto(producto) %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://via.placeholder.com/330x250" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{producto['titulo']}}</h5>
      <p class="card-text">{{producto['texto']}}</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">{{producto['precio']}}</a>
    </div>
  </div>

  {# <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://via.placeholder.com/330x250" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{producto.titulo}}</h5>
      <p class="card-text">{{producto.texto}}</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">{{producto.precio}}</a>
    </div>
  </div>
  #}

{% endmacro %}
